$white: #ffffff;
$black: #000000;
$blue-micro: #e6f7ff;
$blue-lt: #bae7ff;
$blue: #1890ff;
$blue-dk: #0050b3;
$green-micro: #f6ffed;
$green-lt: #d9f7be;
$green: #52c41a;
$green-dk: #237804;
$red-micro: #fff1f0;
$red-lt: #ffccc7;
$red: #ff4d4f;
$red-dk: #cf1322;
$orange-micro: #fff7e6;
$orange-lt: #ffe7ba;
$orange: #fa8c16;
$orange-dk: #d46b08;
$grey-lt: #fafafa;
$grey: #f0f0f0;
$grey-dk: #8c8c8c;
$grey-bg: #f5f5f5;

$bd: #d9d9d9;

$ft: #434343;
$ft-sub: #bfbfbf;