@import '~antd/dist/antd.css';
@import './global';
@import './menu';
@import './content.scss';
@import './editor.scss';
@import './dialog.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  // background-color: $grey-dk;

}
main {
  @include box;
}

#app {
  @include box;
  display: flex;
  flex-direction: row;
}
