@import '~antd/dist/antd.css';
@import './global';
@import './menu';
@import './content.scss';
@import './editor.scss';
@import './dialog.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  // background-color: $grey-dk;
  font-size: 12px;
}
main {
  @include box;
}

#app {
  @include box;
  display: flex;
  flex-direction: row;
}

.divider-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $grey;
}

// antd reset
.ant-select-selector,
.ant-input,
.ant-input-number-input {
  font-size: 12px;
}
