// content box
.content-box {
  position: relative;
  flex: 1;

  display: flex;
}

// project
.project-box {
  @include left-side-content;
  display: flex;
  flex-direction: column;

  // search box
  .search-box {
    display: flex;
    padding: 10px 20px;
    align-items: center;

    .filter-btn {
      // font-weight: bold;
      @include search-btn(40px, 16px);

      &.active {
        color: $blue;
        font-weight: bold;
      }
    }

    .add-btn {
      @include circle-btn($white, 28px);
      margin-left: 10px;
      background-color: $bg-dk-lt;

      &.active {
        transform: rotate(45deg);
      }
    }
  }

  // extra box
  .extra-box {
    margin: 0 20px;
    color: $ft;
    overflow: hidden;
    // height: 0;
    transition: height .2s ease;

    // &.extra-pro {
    //   height: 64px;
    // }
  }
  // tags filter
  .tags-filter {
    display: flex;
    align-items: center;
    color: $white;

    .label {
      flex: 0 0 40px;
    }
    .ant-tag {
      color: $white;
      font-size: 12px;
    }
  }
  // new project
  .new-project-box {
    display: flex;
    align-items: center;

    // border-radius: 2px;
    overflow: hidden;
    // background-color: $white;

    .left-box {
      flex: 1;
      background-color: $white;
      border-radius: 2px;

      .row {
        height: 32px;
      }
      .label {
        text-align: center;
      }
    }

    .submit-btn {
      @include circle-btn($white, 28px);
      margin-left: 10px;
      background-color: $green;
    }
  }

  // project list
  .project-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .project-item {
      display: flex;
      height: 40px;
      align-items: center;
      padding: 0 20px;
      font-size: 14px;
      color: rgba($white, .75);
      transition: all .2s ease;
      cursor: default;

      .project-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all .3s ease;
      }
      .tag-list {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        transition: all .3s ease;

        .project-tag {
          color: rgba($white, .75);
          background-color: $bg-dk-lt;
          border-color: $bg-dk-lt;
        }
      }
      // handler
      .handler-box {
        display: flex;
        flex: 0 0 0;
        margin-left: 5px;
        overflow: hidden;
        transition: all .3s ease;

        .iconfont {
          @include circle-btn($white, 24px);
          font-size: 12px;
          margin-left: 5px;
        }
        .del-btn {
          background-color: lighten($red, .75);
        }
        .edit-btn {
          background-color: lighten($green, .75);
        }
      }

      &:hover,
      &.active {
        color: $white;
        background-color: $bg-dk-lt;
        box-shadow: inset 0 0 10px rgba($black, .4);

        .project-tag {
          color: $white;
          background-color: $bg-dk;
        }

        .handler-box {
          flex: 0 0 60px;
        }
      }
    }
  }
}

// editor
.editor-wrapper {
  position: relative;
  flex: 1;

  .none-click-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($white, .1);
    z-index: 2;
  }
}

// contact
.contact-box {
  @include left-side-content;

  .info-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    // justify-content: center;
    padding-left: 100px;
    padding-top: 100px;
  }

  .info-item {
    display: flex;
    // align-items: center;
    align-items: baseline;
    font-size: 14px;
    cursor: default;

    .info-item-span {
      color: $ft-lt;

      &:hover {
        color: $white;
      }
    }

    .iconfont {
      width: 30px;
      height: 30px;
      font-size: 18px;
      margin-right: 5px;

      &.icon-wechat {
        color: #73d13d;
      }
      &.icon-github {
        color: $grey;
      }
      &.icon-gmail {
        color: #ff4d4f;
        // @include brighter($red);
      }
      &.icon-home {
        color: #69c0ff;
      }
      &.icon-user {
        color: $orange;
      }
    }
  }
}
