.btn-box {
  display: flex;
}

.shape-editor-dialog {
  .btn-box {
    .ant-btn {
      margin-right: 10px;
    }
  }

  .ant-form-item-label > label {
    font-size: 12px;
  }

  .ant-drawer-header {
    padding: 10px 15px;
  }

  .ant-drawer-body {
    padding: 10px 15px;
  }

  .ant-drawer-footer {
    padding: 10px 15px;
  }
}

.join-span {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .iconfont {
    font-size: 12px;
    color: $grey-dk;
  }
}
