.editor-container {
  @include box;

  display: flex;
  overflow: hidden;
}

// item panel
.editor-itempanel {
  flex: 0 0 200px;
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  border-right: 1px solid $bd;
  background-color: $white;

  &.dpn {
    display: none;
  }

  .item-list-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px 0 10px;

    // category
    .item-category {
      padding: 0 5px;
      overflow: hidden;
      height: 32px;
      user-select: none;

      &.open {
        height: auto;

        .icon-arrow-right {
          transform: rotate(90deg);
        }
      }
    }
    .item-category-title {
      display: flex;
      width: 100%;
      height: 32px;
      align-items: center;
      cursor: default;
      transition: color .2s ease;

      &:hover {
        color: $blue;
      }

      .icon-arrow-right {
        margin-right: 2px;
        transition: all .2s ease;
      }
    }
    // item list
    .item-list {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
    }

    .shape-item {
      @include border(lighten($bd, .6));
      border-radius: 2px;
      padding: 5px 10px;
      width: 160px;
      height: 30px;
      // margin: 0 10px;
      // width: 100%;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $ft-sub;
      transition: all .2s ease;
      text-align: center;
      cursor: move;
      white-space: nowrap;
      background-color: $grey-lt;

      &:hover {
        border-color: $blue-lt;
        background-color: lighten($blue-lt, .3);
        color: $blue;
      }
    }
  }


  // search
  .search-box {
    display: flex;
    align-items: center;
    padding: 5px;

    // .ant-input,
    .ant-input::placeholder {
      font-size: 12px;
    }

    .new-btn {
      @include search-btn;
    }
  }
}

// page
.editor-page {
  position: relative;
  flex: 1;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    // background-color: #F3F4F8;
  }
}

// detail panel
.editor-detailpanel {
  flex: 0 0 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-left: 1px solid $bd;

  .ant-form-item-label > label {
    font-size: 12px;
  }

  .panel-title {
    flex: 0 0 30px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    border-bottom: 1px solid $grey;
  }

  .canvas-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info-box {
      flex: 1;
    }
    .handler-box {
      // flex: 0 0 102px;
      // color: $ft-sub;
      margin: 0 -10px;
    }

    .panel-row {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      cursor: default;
      background-color: $white;
      transition: all .3s ease;

      &:hover {
        color: $blue;
        background-color: $grey-lt;
        box-shadow: 0 0 6px rgba($color: $black, $alpha: .05) inset;
      }

      .iconfont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
}
